body{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contenedor{
    background-color:  #eaefe1;
    width: 100%;
    margin: 0;
    height: 100vh;
   
}
.formSistema{
    background-color:#d4d6d0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
	border-radius:15px;
    margin-bottom: 40px;
}
button{
    background-color:#8AC440;
    color: white;
    border:none;
    border-radius: 0.5em;
    height: 15%;
    /*width: 25%;*/
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.btn:hover{
    background-color: #749e3c;
    cursor: pointer; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
    height: 2.5em;
}

nav>.cerrar{
    background-color: red;
    font-size: 1em;
    width: 7em;
    height: 2em;
    cursor: pointer;
}
nav>p{
    color:black;
}
nav>.cerrar:hover{
    background-color: rgb(163, 0, 0);
    cursor: pointer;
}
.btncerrar{
    background-color: red;

}

.btncerrar:hover{
    background-color: rgb(163, 0, 0);
    cursor: pointer;
}
.btnagregar{
    padding: 5%;
    font-size: medium;
}
.btnagregar:hover{
    cursor: pointer; 
}

input {
    border: 0;
    border-radius: .25em;
    width: 15.5em;
    height: 1.2em;
    
}

.cancelar {
    background-color: red;
}
.cancelar:hover {
    background-color: rgb(163, 0, 0);
    cursor: pointer;
}
.boxtext{
    border-color: black;
    border:solid 0.01em;
    border-radius: .25em;
}

.titulo{
    font-weight: bolder;
}

/* CSS BREADCRUM */
.bdcrumb{
    display: block;
    position: absolute;
    top: 32px;
    z-index: 100;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
/* Muestra elementos de la lista uno al lado del otro */
ul.breadcrumb li {
    display: inline;
}
/* Agregue un símbolo de barra (/) antes o detrás de cada elemento de la lista */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #313131;
    content: "•\00a0";
}
/* Agrega un color a todos los enlaces dentro de la lista. */
ul.breadcrumb li a {
    color: #1900ff;
    text-decoration: none;
}
/* Agregar un color al pasar el mouse */
ul.breadcrumb li a:hover {
    color: #978bff;
    text-decoration: none;
}